---
// import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import fpcard1 from "../images/fp-card1.jpg?url";
import fpcard2 from "../images/fp-card2.jpg?url";
import fpcard3 from "../images/fp-card3.jpg?url";

// const title = "Martin Slack";
---

<Layout>
  <div class="container main">
    <article>
      <p>
        I’m the owner at One Stop Sites as well as a freelance Web Developer. I
        started my development career in 2012 building WordPress authority
        sites, doing SEO (Search Engine Optimisation) and Social Media
        Marketing.
      </p>
      <p>
        When I’m not building sites (which is a lot of the time), I support my
        wife’s artisan chocolate business, Chocolaterie RenMar. Otherwise, I can
        usually be found doing outdoor jobs on our rural property, flyfishing or
        playing golf.
      </p>
      <p>More About Me</p>
      <p>My Portfolio</p>
    </article>
  </div>
  <h2 style="text-align:center">Services</h2>
  <div class="container grid">
    <div>
      <article class="fp">
        <header>
          <a href="/">
            <img src={fpcard1} alt="Website Design And Development" />
          </a>
        </header>
        <h3>Website Design And Development</h3>
        <p>
          I develop responsive sites using the latest WordPress technologies.
          This could be from a blank canvas to a custom theme or customising an
          existing theme.
        </p>
        <footer>
          <button>
            <a href="/services">Read More</a>
          </button>
        </footer>
      </article>
    </div>
    <div>
      <article class="fp">
        <header>
          <a href="/">
            <img src={fpcard2} alt="E-commerce" />
          </a>
        </header>
        <h3>E-commerce</h3>
        <p>
          I build online stores using Woocommerce. Woocommerce was created by
          the developers of WordPress and it integrates well into a WordPress
          site.
        </p>
        <footer>
          <button>
            <a href="/services">Read More</a>
          </button>
        </footer>
      </article>
    </div>
    <div>
      <article class="fp">
        <header>
          <a href="/">
            <img src={fpcard3} alt="Website Hosting And Maintenance
" />
          </a>
        </header>
        <h3>Website Hosting And Maintenance</h3>
        <p>
          Through my company, One Stop Sites, I offer a complete website hosting
          service, including regular website maintenance, backups and reports on
          website traffic.
        </p>
        <footer>
          <button>
            <a href="/services">Read More</a>
          </button>
        </footer>
      </article>
    </div>
  </div>
</Layout>
<style lang="scss">
  .main {
    margin-top: 3em;
  }
  .fp {
    text-align: center;
    > p {
      text-align: left;
    }
  }
  button {
    width: 50%;
    & a {
      text-decoration: none;
    }
  }
  .fp > header,
  .fp > footer {
    border: none;
  }
</style>
