---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Services";
---

<Layout pageTitle={pageTitle}>
  <article>
    <h2>Website Design and Development</h2>
    <p>I build responsive sites using the latest WordPress technologies.</p>
    <p>
      This could be from a blank canvas to a custom theme or customising an
      existing theme.
    </p>
    <h2>E-commerce</h2>
    <p>
      Woocommerce was created by the developers of WordPress and it integrates
      well into a WordPress site. Woocommerce gives you a great deal of control
      over all aspects of your online store, including product, pricing and
      shipping options.
    </p>
    <p>
      I have extensive experience with customisation of Woocommerce sites. I can
      help you achieve outcomes like having both a retail and a wholesale
      version of your e-commerce store on a single website.
    </p>
    <h2>Website Hosting and Maintenance</h2>
    <p>
      Through my company, One Stop Sites, I offer a complete website hosting
      service. I am happy to clone and install your existing site on our servers
      or establish a new site from scratch. This includes purchasing a domain
      for you, if that is required.
    </p>
  </article>
</Layout>
<style>
  h1 {
    text-align: center;
  }
</style>
