---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Testimonials";
---

<Layout pageTitle={pageTitle}>
  <h3>What Clients Say About Martin Slack</h3>
  <article>
    <blockquote>
      Martin was involved in the Mansfield Golf Club’s brand identity project
      which resulted in the creation of two sibling brands – Mansfield Golf Club
      and The Ranges. Our vision was to build a separate brand for The Ranges,
      our events, functions, bar and dining business. Martin understood our
      website needs precisely and he implemented our vision perfectly. He’s
      reliable, professional and easy to work with. I can’t recommend him highly
      enough and we look forward to continuing our working relationship
      together.
      <footer>
        <cite
          >— Greg Nugent, General Manager, Mansfield Golf Club and The Ranges</cite
        >
      </footer>
    </blockquote>
  </article>
  <article>
    <blockquote>
      Martin could not have been more helpful in assisting our team with setting
      up our website and many other technical issues we encountered along the
      way; he has embraced our project with a rare enthusiasm and dedication to
      getting it right, often thinking about extra beneficial aspects that we
      may not have considered. Having someone so adept at the back-end of the
      technology, and willing to meet periodically to patiently teach us the
      steps we needed to learn, has been invaluable and I would have no
      hesitation whatsoever in recommending his services.
      <footer>
        <cite>— Rose Gilder, Director, Rosehaven Hospice</cite>
      </footer>
    </blockquote>
  </article>
  <article>
    <blockquote>
      Martin has worked tirelessly to redevelop the Murphy Fresh and Tatura
      Fresh website. He was extremely patient and detailed with regard changes
      and updates. When faced with problems, Martin persisted in developing
      alternatives and solutions. Easy to communicate with, Martin actioned
      changes and improvements immediately. The result for our business is a
      unique website which is up-to-date and relevant to what’s happening now.
      Martin is passionate about what he does and I would have no hesitations in
      recommending him.
      <footer>
        <cite>— Sarah Clelland, HR Manager, Murphy Fresh and Tatura Fresh</cite>
      </footer>
    </blockquote>
  </article>
  <article>
    <blockquote>
      The Mansfield Producers Group engaged Martin to develop our very first
      website and have been very pleased with the product he developed. Not only
      did he develop the site but he was also very helpful in navigating the
      world of domain names and ensuring we are able to update the site with
      photos, advice in regard to events and members activities and developed
      the capacity for new members to join directly on line. We couldn’t have
      done this without him.
      <footer>
        <cite>— Mick Ellis, President, Mansfield Producers Inc.</cite>
      </footer>
    </blockquote>
  </article>
  <article>
    <blockquote>
      Not only was Martin’s work to spec., he met an urgent deadline, whilst
      always working to improve the aesthetics of the site as well as the
      functionality. Throughout the entire process he was responsive and willing
      to work through issues as they arose. It’s obvious he takes tremendous
      pride in his work, and I wouldn’t hesitate to recommend or work with him
      again.
      <footer>
        <cite>— Benn Minnihan, Flockmaster</cite>
      </footer>
    </blockquote>
  </article>
  <article>
    <blockquote>
      Martin is a talented WordPress developer who transformed our club website
      into a modern, responsive, professional and very functional club asset.
      What was noticeable was his attention to detail and steady approach. Time
      after time, and without our asking, he added enhancements and improvements
      that resulted in a better site for our members, visitors and users of our
      facilities. This year we moved our site to Martin’s One Stop Sites
      hosting, a process that was seamless and smooth. I would have no
      hesitation in recommending Martin to anyone needing a website or upgrade.
      <footer>
        <cite>— Chris Anderson, CEO, Mansfield Golf Club</cite>
      </footer>
    </blockquote>
  </article>
  <article>
    <blockquote>
      Martin developed the First Time Pregnancy site several years ago and it
      has grown in popularity over the years. It receives many thousands of
      visitors every month – testament to the value it provides. Every time I
      have wanted to add a new resource to the site, Martin has found a way of
      getting it done. No challenge is beyond him.
      <footer>
        <cite>— René Slack, First Time Pregnancy</cite>
      </footer>
    </blockquote>
  </article>
</Layout>
<style>
  h1 {
    text-align: center;
  }
  /* blockquote {
    padding: 0 1em;
    margin: 2em 0;
  } */
</style>
