---
// import logo from "../images/MS-Logo.png?url";
import fphero from "/assets/images/BullerSnow2011FP.png";
import Logo from "./Logo.astro";
import Navigation from "./Navigation.astro";
import CTA from "./CTA.astro";
import Hamburger from "./Hamburger.astro";
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.scss";
import "../styles/astro-breadcrumbs-config.scss";
---

<div class="container-fluid fp-header">
  <Hamburger />
  <Logo />
  <Navigation />
  <CTA />
</div>
<div class="container bread">
  <Breadcrumbs>
    <svg
      slot="index"
      aria-label="Home Page"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z">
      </path><polyline points="9 22 9 12 15 12 15 22"></polyline>
    </svg>
    <svg
      slot="separator"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><polyline points="9 18 15 12 9 6"></polyline>
    </svg>
  </Breadcrumbs>
</div>
<style define:vars={{ fphero: `url(${fphero.src})` }}>
  .fp-header {
    position: relative;
    /* z-index: -2; */
    flex-flow: row wrap;
    height: 500px;
    background-image: var(--fphero);
    background-size: cover;
    align-items: flex-start;
  }
</style>
